.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bg-image {
  background-image: url(../img/pictures/main_img_sample.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-info {
  text-align: center;
  z-index: 999;
}

.map-info {
  flex-direction: column;
}

.map-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.map-btn {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  margin-right: 16px;
}

.map-icon {
  width: 32px;
  height: 32px;
}

.page p {
  font-size: 66px;
}

.page:nth-child(2) {
  background: lightgreen no-repeat center/cover;
}

.page:nth-child(3) {
  background: lightyellow no-repeat center/cover;
}

.page:nth-child(4) {
  background: darkblue no-repeat center/cover;
}