@font-face {
  font-family: 'KCC-eunyoung';
  src: url('../fonts/subset-KCC-eunyoung-Regular.eot');
  src: url('../fonts/subset-KCC-eunyoung-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/subset-KCC-eunyoung-Regular.woff2') format('woff2'),
      url('../fonts/subset-KCC-eunyoung-Regular.woff') format('woff'),
      url('../fonts/subset-KCC-eunyoung-Regular.ttf') format('truetype'),
      url('../fonts/subset-KCC-eunyoung-Regular.svg#KCC-eunyoung-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  src: url('../fonts/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: '210-Soopsokeseo-R';
  src: url('../fonts/210-Soopsokeseo-R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('../fonts/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'MaruBuri-SemiBold';
  src: url('../fonts/MaruBuri-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'MaruBuri-Bold';
  src: url('../fonts/MaruBuri-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  background-color: #333;
  /*touch-action: pan-y;*/

  --360-view-width-ratio: calc(360 / 390);
  --430-view-width-ratio: calc(430 / 390);
}

footer {
  background-color: #B9B9B9;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
}

footer p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'MaruBuri-Regular';
  font-size: 14px;
  color: white;
}

#wedding-card {
  width: 100%;
  min-width: 340px;
  max-width: 430px;
  margin: 0 auto;
}

.page-title {
  font-family: 'MaruBuri-Bold';
  font-size: 20px;
  color: #4A73B8;
  text-align: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #4A73B8;
  margin: 30px 0 20px 0;
}

.share-h {
  font-family: 'MaruBuri-Regular';
  font-size: 17px;
  color: #3C495F;
}

.share-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin: 5px 0;
}

.share-btn {
  width: 32px;
  height: 32px;
  font-size: 16px;
}
