.intro-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEE229;

  --text-font-size: 14px;
}

.intro-text {
  text-align: center;
  font-family: 'MaruBuri-Regular';
  line-height: 25px;
  color: #37495F;
  margin: 0;
}

.intro-bottom-img {
  width: 100%;
  height: 292px;
  background-image: url(../img/pictures/intro_bottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width:  359px) {
  .intro-text {
    font-size: calc(var(--text-font-size) * var(--360-view-width-ratio));
  }
}

@media screen and (min-width: 360px) {
  .intro-text {
    font-size: calc(var(--text-font-size) * var(--430-view-width-ratio));
  }
}