.thanks-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  --account-btn-font-size: 12px;
  --button-svg-heigth: 120%;
}

.thanks-h {
  font-family: 'MaruBuri-Bold';
  font-size: 20px;
  color: #4A73B8;
  text-align: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #4A73B8;
  margin: 80px 0 20px 0;
}

.thanks-h1 {
  font-family: 'MaruBuri-Bold';
  font-size: 20px;
  color: #4A73B8;
  text-align: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #4A73B8;
}

.thanks-h2 {
  font-family: 'MaruBuri-Bold';
  font-size: 17px;
  color: #3C495F;
  text-align: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #3C495F;
}

.thanks-h3 {
  font-family: 'MaruBuri-Regular';
  font-size: 17px;
  color: #3C495F;
}

.thanks-married-zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

.thanks-zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.thanks-utility-zone {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.thanks-icon-zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.person-type {
  font-family: 'MaruBuri-Regular';
  font-size: 16px;
  color: #3C495F;
}

.person-name {
  font-family: 'MaruBuri-Regular';
  font-size: 20px;
  color: #3C495F;
}

.button {
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 5px 1em;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  color: #fff;
  font-family: 'MaruBuri-SemiBold', sans-serif;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.last-thanks {
  font-family: 'MaruBuri-Regular';
  font-size: 20px;
  color: #4A73B8;
  text-align: center;
  margin: 80px 0 20px;
}

.make-role {
  font-size: 12px;
}

.make-name {
  font-size: 22px;
}

.groom-account-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.groom-account-modal.show {
  display: block;
}

.groom-account-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 300px;
  padding: 20px;
  text-align: center;
  background-color: #FFF9EA;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #FBE6B6;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.bride-account-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.bride-account-modal.show {
  display: block;
}

.bride-account-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 300px;
  padding: 20px;
  text-align: center;
  background-color: #FFF9EA;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #FBE6B6;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.modal-h1 {
  font-family: 'MaruBuri-Bold';
  font-size: 17px;
  color: #3C495F;
  text-align: center;
  padding: 0 0.5em;
  border-bottom: 1px solid #3C495F;
}

.modal-account-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-account-zone {
  width: 200%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.modal-account-name {
  font-family: 'MaruBuri-Regular';
  font-size: 18px;
  color: #3C495F;
}

.modal-account-role {
  font-size: 15px;
}

.modal-account-copy-btn {
  width: 50%;
  height: 100%;
  font-family: 'MaruBuri-Regular';
  font-size: 18px;
  border-radius: 5px;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-account-close {
  font-family: 'MaruBuri-SemiBold';
  font-size: 16px;
  border-radius: 5px;
  color: white;
  background-color: #3C495F;
  padding: 10px;
}

.groom-color {
  color: #8CCFD5;
}

.groom-border-color {
  border-color: #8CCFD5;
}

.groom-bg-color {
  background-color: #8CCFD5;
}

.bride-color {
  color: #F3A08C;
}

.bride-border-color {
  border-color: #F3A08C;
}

.bride-bg-color {
  background-color: #F3A08C;
}